[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kerntools"]
	path = kerntools
	url = https://github.com/elies-ramon/kerntools
